@page
@model MyStore.Pages.Client.LogInPageModel
@{
}


<form action="">
   
           <h3>Sign in</h3>
            
        <label for="username">Your username</label>
        <input id="userid" type="text" placeholder="Enter Username" name="username" required>

        <br><br>

       
        <label  for="pswrd">Your password</label>
        <input id="passid" type="password" placeholder="Enter Password" name="pswrd" required>

        <br>

        <!-- Submit button -->
    <button class="btnlogin" ><a href="Index">Login</a></button>
    

         

</form>
